@define-color foreground #ffffff;
@define-color foreground-inactive #2d5fff;
@define-color background #0a0a0a;

* {
  font-family: CommitMono;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

#waybar {
  color: @foreground;
  background-color: @background;
}

#workspaces button {
  color: @foreground;
  padding-left: 0.7em;
}

#workspaces button.empty {
  color: @foreground-inactive;
}

#memory {
  padding-right: 1em;
}

#window {
  margin-left: 1em;
}

#wireplumber,
#battery,
#backlight,
#language,
#network,
#bluetooth,
#tray {
  padding-right: 1em;
}

#custom-waybar_mpris {
  color: #2d5fff;
}
